{% extends "base_2.html" %}

{% block Title %} Register {% endblock %}

{% block body %}

    <header>
    </header>

    <form action="{{url_for('register')}}"  method="POST" class="box">
        <h2>Sign Up</h2>

        <input name="fname" type="text"  placeholder= "First Name" required>

        <input  name="lname" type="text" placeholder= "Last Name" required>

        <input name="email" type="email" placeholder="email" required>

        <input  name="password" type="password" placeholder= "Password" required>

        <a href="{{ url_for('login') }}">
            <button class="create"> Create Account </button>
        </a>

        <p>
            Already have an account?  <a href="{{url_for('login')}}"> Login here</a>
        </p>

    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p> {{msg}} </p>
            {% endfor %}

        {% endif %}
    {% endwith %}

{% endblock %}