body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box {
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px) saturate(180%);
    -webkit-backdrop-filter: blur(5px) saturate(180%);
    padding: 30px;
    border-radius: 24px;
    box-shadow: 0px 4px 10px 20px rgba(0, 0, 0, 0.156);
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    margin: 200px;

}


button {
    width: 100%;
    padding: 10px;
    background: #e88b09;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;

}


.create {
    width: 100%;
    padding: 10px;
    background: #7DAA92;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    background-color: #6B967E;
    transform: translate(-2px);
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a {
    color: #63faa7
}

p {
    display: flex;
    justify-content: center;
}

input {
    margin-bottom: 35px;
}