<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block Title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'logRegStyle.css')}} ">

    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/istockphoto-1282540041-612x612.jpg') }}");
            background-size: cover;
            background-position: center;

        }
    </style>
</head>

<body>
    {% block body %}

    {% endblock %}
</body>

</html>