{% extends "base_template.html" %}

{% block Title %} Operations {% endblock %}

{% block content %}
     <header>
         <p>Welcome to you!</p>
     </header>

    <form action="{{url_for('add')}}" method="post" class="box">
        <input type="text" name="item_name" placeholder="Item's name" required>
        <br>

        <input type="text" name="item_quantity" placeholder="Quantity">
        <br>

        <a href="{{ url_for('print_groceries') }}">
            <button type="submit">
                Go
            </button>
        </a>

    </form>

{% endblock %}