<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block Title %} OTP-Verification {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% block content %}

        <form action="{{url_for('verifying_otp')}}" method="post">
                
            <input name="user_otp" type="text" placeholder="OTP Code" required>
            <button type="submit"> Submit OTP </button>

        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p> {{msg}} </p>
                {% endfor %}

            {% endif %}
        {% endwith %}

    {% endblock %}
    
</body>
</html>